@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welkom bij de Patatzaak</h1>
    <p class="lead">De lekkerste patat van Nederland</p>
<p class="lead">(friet wordt geserveerd met belgische mayonaise)</p>
    <img src="Images/frietje.jpg" alt="" />
</div>
